/*
    =========================================================================================
    >>>  HEADER CSS
    =========================================================================================
    The header CSS file
    
*/

/*=================================================================
    Default style (Mobile)
=================================================================*/
.cookie-header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99;
    background-color: #f7f7f7;
}
    .cookie-header .ck-top-menu {}
    .cookie-header .ck-top-menu ul li {
        display: block;
        margin: 1rem;
        border-radius: 5px;
    }
    .cookie-header .ck-top-menu ul a {
        display: block;
        padding: .5rem;
    }
    .cookie-header .current-menu-item {
        background-color: #999;
    }
        .cookie-header .current-menu-item a {
            color: #fff;
        }



    
/*=================================================================
    Desktop style
=================================================================*/

@media only screen and (min-width: 768px) {
    .cookie-header .ck-top-menu div {
        margin-right: 0;
        margin-left: auto;
    }
        .cookie-header .ck-top-menu ul li {
            margin: 0rem 1rem;
            display: inline-block;
        }
}