/*
    =========================================================================================
    >>>  PAGE CSS
    =========================================================================================
    The page CSS file
    
*/

/*=================================================================
    Default style (Mobile)
=================================================================*/
.site-content {
    min-height: 90vh;
}
    .site-content article header {
        background-color: #999999;
        padding: 3rem 0rem;
    }



/*=================================================================
    Desktop style
=================================================================*/
@media only screen and (min-width: 768px) {
    .site-content {}
        .site-content article header {
            padding: 5rem 0rem;
        }
}